.hotel
	padding-top: 23px
	padding-bottom: 70px

	&-info
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 20px

		&__offer
			margin-left: 14px
			margin-top: 4px

		&__name
			margin-top: 4px
			margin-bottom: 0

	&-name
		font-size: 24px
		line-height: 30px
		text-transform: uppercase

	&-wrapper
		display: flex
		flex-wrap: wrap
		align-items: center

	&-description
		margin: 0
		//padding: 0
		font-size: 12px
		line-height: 15px

//&-grid
//	display: flex

.rating
	max-width: 65px
	min-height: 45px
	text-align: center
	background-color: $button-color
	color: $light-text
	border-radius: 4px

	&__name
		font-size: 8px
		line-height: 10px

	&__counter
		font-size: 14px
		line-height: 18px
		font-weight: bold

	&__counter-max
		font-size: 10px
		line-height: 13px
		font-weight: bold

.stars
	flex-basis: 100%

.offer
	font-size: 10px
	line-height: 13px
	padding: 4px 9px
	background-color: $button-color
	color: $light-text
	border-radius: 3px

.slider
	width: 728px

	&-button
		width: 30px
		height: 30px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		z-index: 10
		border: none
		cursor: pointer
		background-repeat: no-repeat
		background-position: center
		background-size: 20px
		background-color: transparent

		&--next
			right: 18px
			background-image: url(../img/arrow-next.svg)

		&--prev
			left: 18px
			background-image: url(../img/arrow-prev.svg)

.swiper
	width: 100%
	height: 450px
	position: relative
	-webkit-border-radius: 8px
	-moz-border-radius: 8px
	border-radius: 8px

	&-wrapper, &-slide
		width: 100%
		height: 100%

	&-slide
		img
			width: inherit
			height: inherit
			object-fit: cover

	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
		z-index: 7